* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 100%;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav {
  background: #fff;
  overflow: hidden;
  position: absolute;
  width: 100%;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  z-index: 20;
}

.navbar-large {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #222831;
}

.navbar-small {
  padding-top: 18px;
  padding-bottom: 18px;
  -webkit-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
  background-color: #222831;
}

.navbar {
  position: fixed;
  top: 0;
}

.navbar-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button-toggle-nav {
  width: 32px;
  height: 32px;
  position: relative;
  float: right;
  background: transparent;
  border: 0;
  display: none;
  outline: none;
  cursor: pointer;
}

.button-toggle-nav::before, .button-toggle-nav::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.button-toggle-nav:active {
  border: none;
}

.button-toggle-nav img {
  height: 32px;
  display: block;
}

.navbar-menu {
  overflow: hidden;
  color: #fff;
  margin: 0;
  padding: 0;
  -webkit-transition: max-height 0.5s;
  transition: max-height 0.5s;
  display: inline-block;
}

.navbar-menu-li {
  display: inline-block;
  padding: 6px 15px 0 15px;
}

.navbar-menu-a {
  font-size: 0.875rem;
  line-height: 1.0625rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px;
  position: relative;
  -webkit-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
  color: #ffffff;
}

.navbar-menu-a:hover {
  color: #00adb5;
}

.navbar-menu-active {
  color: #00adb5;
}

@media screen and (max-width: 565px) {
  .navbar-large {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .navbar-menu {
    background: #222831;
    max-height: 0;
    width: 100%;
    text-align: center;
    padding-left: 20px;
  }
  .navbar-menu-show {
    max-height: 15rem;
  }
  .navbar-menu-li {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding-top: 20px;
  }
  .navbar-content {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .button-toggle-nav {
    display: inline;
  }
}

.home {
  height: 100vh;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../images/home.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.home-content {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  z-index: 1;
  color: #ffffff;
}

.home-content h1 {
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 700px;
  margin: 10px 0;
  height: 50px;
}

.home-content h5 {
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.1em solid #00adb5;
  margin: 10px auto;
  height: 40px;
  font-size: 2rem;
  -webkit-animation: typing 3s steps(40, end), blink-caret 0.6s step-end infinite;
          animation: typing 3s steps(40, end), blink-caret 0.6s step-end infinite;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #00adb5;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #00adb5;
  }
}

@-webkit-keyframes blink {
  to {
    opacity: .0;
  }
}

@keyframes blink {
  to {
    opacity: .0;
  }
}

@media screen and (max-width: 630px) {
  .home-content h1 {
    font-size: 3rem;
  }
  .home-content h5 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .home-content h1 {
    font-size: 2.5rem;
  }
  .home-content h5 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 430px) {
  .home-content h1 {
    font-size: 2rem;
  }
  .home-content h5 {
    font-size: 1rem;
    height: 20px;
  }
}

@media screen and (max-width: 335px) {
  .home-content h1 {
    font-size: 1.5rem;
  }
  .home-content h5 {
    font-size: 1rem;
    height: 20px;
  }
}

.about {
  height: 100vh;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about-bg {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #00adb5;
  overflow: hidden;
  padding: 0 40px;
}

.about-bg img {
  max-width: 100%;
  height: auto;
  opacity: 0.7;
}

.about-content {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 150px;
  background-color: #393E46;
  color: #fff;
}

.about-content h2 {
  font-size: 2.5rem;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.about-content .line {
  border-top: solid 2px #00adb5;
  width: 100px;
  padding-bottom: 35px;
}

.about-content p {
  font-size: 1.5rem;
  padding-bottom: 20px;
}

@media screen and (max-width: 1000px) {
  .about-content {
    padding: 0 50px;
  }
}

@media screen and (max-width: 650px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-bg {
    width: 100%;
    padding: 20px 0;
  }
  .about-bg img {
    width: 50%;
  }
  .about-content {
    width: 100%;
    height: 70%;
    padding: 20 20px;
  }
  .about-content h2 {
    font-size: 2rem;
    padding-bottom: 20px;
    text-transform: uppercase;
  }
  .about-content .line {
    border-top: solid 2px #00adb5;
    width: 100px;
    padding-bottom: 35px;
  }
  .about-content p {
    font-size: 1.2rem;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 390px) {
  .about-content h2 {
    font-size: 1.7rem;
  }
  .about-content .line {
    padding-bottom: 15px;
  }
  .about-content p {
    font-size: 1rem;
  }
}

.skills {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 70px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../images/skills.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/skills.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.skills h2 {
  font-size: 2.5rem;
  padding-bottom: 20px;
  text-transform: uppercase;
  color: #eeeeee;
}

.skills .line {
  border-top: solid 2px #00adb5;
  width: 100px;
  padding-bottom: 35px;
}

.skills p {
  font-size: 1.5rem;
  padding-bottom: 100px;
  color: #eeeeee;
}

.skill-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skill-element {
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  margin: 30px;
  background-color: rgba(57, 62, 70, 0.8);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.skill-element img {
  max-width: auto;
  height: 80%;
}

.skill-element h3 {
  padding-top: 20px;
  color: #eeeeee;
}

@media screen and (max-width: 650px) {
  .skills h2 {
    font-size: 2rem;
  }
  .skills p {
    font-size: 1.2rem;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 390px) {
  .skill-element {
    width: 250px;
    height: 250px;
  }
}

.projects {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.project-content {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 70px 0;
  background-color: #393E46;
  color: #fff;
}

.project-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-header h2 {
  font-size: 2.5rem;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.project-header .line {
  border-top: solid 2px #00adb5;
  width: 100px;
  padding-bottom: 35px;
}

.project-bg {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #00adb5;
  overflow: hidden;
  padding: 20px 40px;
  background-image: url("../images/project.png");
  background-position: right top 150px;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-origin: padding-box;
}

.project-element {
  width: 600px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.project-link {
  width: 70%;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #eeeeee;
}

.project-1 {
  background-image: url("../images/project1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.project-2 {
  background-image: url("../images/project2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.project-3 {
  background-image: url("../images/project3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.project-4 {
  background-image: url("../images/project4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.link {
  width: 50%;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
}

.link a {
  width: 100%;
  height: 100%;
  position: absolute;
  text-decoration: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.link a:hover {
  background-color: rgba(28, 28, 28, 0.2);
}

.link a i {
  font-size: 3em;
  color: #393E46;
  padding: 20px;
}

.project-desc {
  width: 30%;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #00adb5;
}

.project-desc h3 {
  text-align: center;
  padding: 0.5em 1em;
}

.project-desc p {
  text-align: center;
  padding: 0 2em;
}

@media screen and (max-width: 900px) {
  .projects {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .project-content {
    width: 100%;
  }
  .project-bg {
    width: 100%;
    height: 30%;
  }
}

@media screen and (max-width: 650px) {
  .project-element {
    width: 400px;
    height: 200px;
  }
  .project-link {
    height: 200px;
  }
  .link {
    height: 200px;
  }
  .link a i {
    font-size: 2em;
  }
  .project-desc {
    height: 200px;
  }
  .project-desc p {
    font-size: 1em;
  }
}

@media screen and (max-width: 450px) {
  .project-element {
    width: 300px;
    height: 150px;
  }
  .project-link {
    height: 150px;
  }
  .link {
    height: 150px;
  }
  .link a i {
    font-size: 1.5em;
  }
  .project-desc {
    height: 150px;
  }
  .project-desc h3 {
    font-size: 1em;
  }
  .project-desc p {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 360px) {
  .project-desc h3 {
    font-size: 0.8em;
  }
  .project-desc p {
    font-size: 0.6em;
  }
}

.contact {
  max-width: 100%;
  background-color: #222831;
  padding: 70px 0;
}

.contact-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-header h2 {
  font-size: 2.5rem;
  padding-bottom: 20px;
  text-transform: uppercase;
  color: #eeeeee;
}

.contact-header .line {
  border-top: solid 2px #00adb5;
  width: 100px;
  padding-bottom: 35px;
}

.contact-header p {
  font-size: 1.5rem;
  padding: 70px 0;
  color: #eeeeee;
}

.contact-content {
  padding: 35px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.icon_social {
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
}

.icon_social:hover {
  border-bottom: solid 1px #00adb5;
}

.icon_social i {
  color: #eeeeee;
  font-size: 4em;
  padding-bottom: 20px;
}

.contact-more {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding-top: 40px;
}

.contact-more p {
  font-size: 1.2rem;
  color: #eeeeee;
  padding-bottom: 20px;
}

@media screen and (max-width: 900px) {
  .contact-content {
    width: 90%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contact-more {
    width: 60%;
  }
}

@media screen and (max-width: 400px) {
  .contact-more {
    width: 90%;
  }
}

footer {
  padding: 40px 0;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #393E46;
}

footer p {
  text-align: center;
  font-size: 1rem;
  color: #eeeeee;
}
